.CreateIssuePage {
    width: 60vw;
    max-width: 800px;
    padding: 20px clamp(3px, 3vw, 100px);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.CreateIssuePage_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.CreateIssuePage_title {
    width: fit-content
}

@media(max-width: 700px) {
    .CreateIssuePage {
        width: 100vw;
    }
}

