.RegisterPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.RegisterPage_login-button {
    margin-top: 20px;
    border: none;
    outline: none;
    background-color:rgba(0, 0, 0, 0);
    color: #0094fd;
    text-decoration: underline;
}